*, *::before, *::after {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    list-style-type: none;
  }

  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  body {
    margin-bottom: 80px;
    background: url('/img/bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .main-content {
    width: 40%;
    max-width: 450px;
    margin: 120px auto;
  }

  .card {
    margin-bottom: 15px !important;
  }

  form {
    background-color: white;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 7px 7px 7px #44424246;
    border-radius: 4px;
  }
  
  .account-status {
    color: #007bff;
    text-align: center;
    margin: 0;
  }

  .card {
    align-content: center !important;
    margin-left: 0 !important;
    width: 700px;
  }

  .nav-color {
    color: #007bff !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  } 
  
  /*.navbar-nav {
    float: none;
    font-size: larger;
  } */

